.container {
  background-color: #0f0f0f;
  width: 100%;
  height: calc(100vh - 76px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  max-width: 480px;
  object-fit: contain;
  width: auto;
  height: auto;
}

.title {
  color: #fff;
  text-align: center;
  margin: 28px;
  max-width: 600px;
  line-height: 150%;
}

.infoContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box {
  background-color: #fafafa;
  padding: 14px 44px;
  border-radius: 5px;
  transition: all 0.4s;
}

.box:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 580px) {
  .hero {
    max-width: 80%;
  }

  .title {
    font-size: 25px;
  }

  .infoContent {
    flex-direction: column;
  }

  .box {
    width: 70%;
    margin-bottom: 15px;
    text-align: center;
  }
}
