.container {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto 0 auto;
  padding: 0 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  width: 100%;
}

.main h1 {
  margin-bottom: 14px;
}

.task {
  border: 1.5px solid #909090;
  padding: 14px;
  line-height: 150%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task p {
  white-space: pre-wrap;
  width: 100%;
}

.commentsContainer {
  width: 100%;
  max-width: 1024px;
  margin: 18px 0;
}

.commentsContainer h2 {
  margin: 14px 0;
}

.button {
  width: 100%;
  padding: 12px 0;
  border-radius: 4px;
  border: 0;
  color: #fff;
  background-color: #dc143c;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  background-color: #f8486b;
}

.button:disabled {
  cursor: not-allowed;
  background-color: #dc143c49;
}

.comment {
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 4px;
  margin-bottom: 14px;
}

.headComment {
  display: flex;
  align-items: center;
}

.commentsLabel {
  background-color: #ccc;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
  font-weight: bold;
}

.btnTrash {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.comment p {
  margin-top: 14px;
  white-space: pre-wrap;
}
